body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #161414;
}

a:link, a:visited {
    color: #4285f4;
}

p {
    line-height: 1.7em;
}

div.container {
    max-width: 1200px;
    margin: 0 auto;
}

article.post {
    border-bottom: 4px dashed #ecf0f1;
}

article.post:last-of-type {
    border-bottom: none;
}

.site-header {
    border-bottom: 2px solid #ecf0f1;
}

.site-footer {
    border-top: 5px solid #ecf0f1;
}
